<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-servicio-heading" data-cy="ServicioCreateUpdateHeading">Crear o editar Servicio</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_startDate">Start Date</label>
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('startDate')?.errors?.required"> Este campo es obligatorio. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('startDate')?.errors?.datetimelocal">
              Este campo debe ser una fecha y hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_endDate">End Date</label>
          <div class="d-flex">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="datetime-local"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_vigilador">Vigilador</label>
          <select
            class="form-control"
            id="field_vigilador"
            data-cy="vigilador"
            name="vigilador"
            formControlName="vigilador"
            [compareWith]="compareVigilador"
          >
            <option *ngIf="!editForm.get('vigilador')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="vigiladorOption" *ngFor="let vigiladorOption of vigiladorsSharedCollection">{{ vigiladorOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['vigilador'])!.invalid && (editForm.get(['vigilador'])!.dirty || editForm.get(['vigilador'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['vigilador'])?.errors?.required"> Este campo es obligatorio. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_objetivo">Objetivo</label>
          <select
            class="form-control"
            id="field_objetivo"
            data-cy="objetivo"
            name="objetivo"
            formControlName="objetivo"
            [compareWith]="compareObjetivo"
          >
            <option *ngIf="!editForm.get('objetivo')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="objetivoOption" *ngFor="let objetivoOption of objetivosSharedCollection">{{ objetivoOption.name }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['objetivo'])!.invalid && (editForm.get(['objetivo'])!.dirty || editForm.get(['objetivo'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['objetivo'])?.errors?.required"> Este campo es obligatorio. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
