<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="servicio">
      <h2 data-cy="servicioDetailsHeading"><span>Servicio</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ servicio.id }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ servicio.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ servicio.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Vigilador</span></dt>
        <dd>
          <div *ngIf="servicio.vigilador">
            <a [routerLink]="['/vigilador', servicio.vigilador.id, 'view']">{{ servicio.vigilador.id }}</a>
          </div>
        </dd>
        <dt><span>Objetivo</span></dt>
        <dd>
          <div *ngIf="servicio.objetivo">
            <a [routerLink]="['/objetivo', servicio.objetivo.id, 'view']">{{ servicio.objetivo.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/servicio', servicio.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
