<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="objetivo">
      <h2 data-cy="objetivoDetailsHeading"><span>Objetivo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ objetivo.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ objetivo.name }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ objetivo.address }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ objetivo.city }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/objetivo', objetivo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
