<div>
  <h2 id="page-heading" data-cy="NotificacionHeading">
    <span>Notificaciones</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-notificacion me-2"
        [routerLink]="['/notificacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nueva Notificacion </span>
      </button>

      <button
        id="jh-create-entity-back"
        class="btn btn-danger float-right jh-create-entity create-notificacion"
        (click)="Cancel()"
        data-toggle="tooltip"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span> Volver</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="notificacions?.length === 0">
    <span>No hay notificaciones</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="notificacions && notificacions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!--<th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>-->
          <th scope="col" jhiSortBy="vigilador.id">
            <div class="d-flex">
              <span>Vigilador</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="novedad.id">
            <div class="d-flex">
              <span>Novedad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notificacion of notificacions; trackBy: trackId" data-cy="entityTable">
          <!--<td>
            <a [routerLink]="['/notificacion', notificacion.id, 'view']">{{ notificacion.id }}</a>
          </td>-->
          <td>{{ notificacion.vigilador?.user?.lastName }}, {{ notificacion.vigilador?.user?.firstName }}</td>
          <td>
            <div *ngIf="notificacion.novedad">
              <a [routerLink]="['/novedad', notificacion.novedad.id, 'view']">{{ notificacion.novedad.texto }}</a>
            </div>
          </td>
          <td>{{ notificacion.status }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/notificacion', notificacion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Abrir</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/notificacion', notificacion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                (click)="delete(notificacion)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
